html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Staatliches", cursive;
}

body {
  background: linear-gradient(-45deg, #000000, #0c0d0d, #212222, #212325);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h2 {
  color: #797b7c;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-decoration: underline #2e2e31;
  text-underline-offset: 10px;
  text-decoration-thickness: 3px;
  opacity: 70%;
}

.splash-section {
  display: flex;
  position: relative;
  min-height: 80vh;
  text-align: center;
  margin: 4rem auto;
  overflow: hidden;
  border: 4px solid rgb(83, 81, 81);
  border-radius: 10%;
  max-width: 80%;
  box-shadow: 0 8px 16px rgb(127, 126, 126), 0 16px 32px rgb(68, 68, 68);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 30%;
  border: 5px solid white;
}

.lets-get-started {
  display: flex;
  margin-top: 4rem;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  min-height: 10rem;
}

.content-wrapper p {
  color: #797b7c;
  max-width: 70%;
  text-align: center;
  margin-top: 30px;
  line-height: 30px;
  font-size: 1.75rem;
  line-height: 30px;
}

a {
  margin-top: 10rem;
}
.content-wrapper a {
  text-decoration: none;
  position: relative;
  color: #797b7c;
  font-size: 2rem;
}
.content-wrapper a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d9e6de;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.content-wrapper a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.thumbs-up-btn,
.thumbs-down-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: transform 1s;
}

.thumbs-down-btn {
  rotate: 180deg;
}

.thumbs-up-btn:hover,
.thumbs-down-btn:hover {
  transform: scale(1.5);
}

.thumbs-up-btn:focus,
.thumbs-down-btn:focus {
  transform: scale(1.5);
}

.mood-section .video-bg {
  filter: grayscale(100%);
}

.mood-section {
  display: flex;
  position: relative;
  min-height: 70vh;
  text-align: center;
  margin: 4rem auto;
  overflow: hidden;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 10rem;
  padding: 10rem;
}

.link-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.content-wrapper-mood {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.content-wrapper-mood a {
  text-decoration: none;
  position: relative;
  color: #797b7c;
  font-size: 2rem;
}
.content-wrapper-mood a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d9e6de;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.content-wrapper-mood a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.button-position {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  gap: 500px;
}

.next-question {
  display: flex;
  margin-top: 6rem;
}

.genre-section {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 70vh;
  text-align: center;
  overflow: hidden;
  max-width: 80%;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 1rem;
  padding: 10rem;
}

.genre-bubble {
  display: flex;
  justify-content: space-between;
}

.genre-section .video-bg {
  filter: grayscale(100%);
}

.genre-section h2 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.genre-bubble .bubble-item button:hover,
.genre-bubble .bubble-item button:active,
.genre-bubble .bubble-item button:focus {
  width: 250px;
  border: 10px solid rgba(0, 255, 89, 0.5);
}

.genre-bubble .bubble-item button {
  aspect-ratio: 1;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  border: 5px solid rgba(0, 255, 89, 0.5);
  transition: width 1s;
  width: 200px;
  text-align: center;
  margin: 20px;
  color: #797b7c;
  font-size: 2.25rem;
  cursor: pointer;
  filter: grayscale(100%) opacity(0.5);
}

.results-button {
  width: 250px;
  height: 100px;
  font-size: 2rem;
  background: transparent;
  border: none;
}

.bubble-item.item-1 button {
  background-image: url(./images/guitar.jpg);
  background-size: cover;
}

.bubble-item.item-2 button {
  background-image: url(./images/decks.jpg);
  background-size: cover;
}

.bubble-item.item-3 button {
  background-image: url(./images/rap.jpg);
  background-size: cover;
}

.bubble-item.item-4 button {
  background-image: url(./images/disco.jpg);
  background-size: cover;
}

.see-results {
  display: none;
  margin-top: 6rem;
}

.see-results button a {
  margin-top: 15rem;
  text-decoration: none;
  position: relative;
  color: #797b7c;
  font-size: 2rem;
}
.see-results button a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #d9d6de;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.see-results button a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
