body,
h1,
p {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  color: #d4af37;
}

body {
  background: linear-gradient(-45deg, #000000, #0c0d0d, #212222, #212325);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
  height: 100vh;
  scroll-behavior: smooth;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* background image */
header {
  background-image: url("piano.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #d4af37;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* matching buttons */
button {
  margin: 20px;
  font-size: 1.5rem;
  background-color: black;
  width: 200px;
  cursor: pointer;
  border: 0;
  padding: 10px;
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

/* .nav-button {
  background-color: #4169e1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: #003171;
  transform: translate3d(5px, 3px, 1px); /
} */
.resized-header {
  height: 50px;
}

.hero {
  background-image: url("bcg.png");
  background-size: cover;
  background-position: center;
  color: #cfcfcf;
  text-align: center;
  padding: 100px 0;
  color: #d4af37;
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0070c9;
  color: #cfcfcf;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.music {
  padding: 50px 0;
  text-align: center;
}

.music-section {
  margin: 20px;
}

footer {
  background-color: black;
  color: #cfcfcf;
  text-align: center;
  padding: 10px 0;
}

/* spinning record */

img[src="vinyl.png"] {
  width: 10%;
  max-height: 10%;
  animation: spin 3.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.splash-section {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
  color: #fff;
  border-radius: 10px;
}

.splash-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
