body,
h1,
p {
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  color: #f8f6f0;
}

body {
  background: linear-gradient(-45deg, #000000, #0c0d0d, #212222, #212325);
  background-size: 600% 600%;
  font-family: "Staatliches", sans-serif;
  animation: gradient 10s ease infinite;
  height: 100vh;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  box-shadow: 0 8px 16px rgb(127, 126, 126), 0 16px 32px rgb(68, 68, 68);
  position: relative;
  color: #f8f6f0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10em;
}

.video-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 30%;
  border: 5px solid white;
  filter: grayscale(1);
}

header > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}
/* matching buttons */
a {
  margin: 20px;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.993);
  width: 200px;
  cursor: pointer;
  border: 0;
  padding: 10px;
  display: inline-block;
  position: relative;
  color: #f8f6f0;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.resized-header {
  height: 50px;
}

h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 0;
}

.subheading {
  font-size: 1.5rem;
  margin-bottom: 1em;
  text-align: center;
}

.cta-button {
  margin: 20px;
  font-size: 1.5rem;
  background-color: black;
  width: 200px;
  cursor: pointer;
  border: 0;
  padding: 10px;
  display: inline-block;
  position: relative;
  color: #f8f6f0;
  text-decoration: none;
  border-radius: 5px;
}

.music {
  padding: 50px 0;
  text-align: center;
}

.music-section {
  margin: 20px;
}

footer {
  background-color: black;
  color: #f8f6f0;
  text-align: center;
  padding: 10px 0;
}

/* spinning record */

img[src="vinyl.png"] {
  width: 10%;
  max-height: 10%;
  animation: spin 3.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.splash-section {
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  padding: 5rem 0;
}

.content-wrapper {
  background-image: url("bcg.png");
  background-color: rgba(0, 0, 0, 0.2);
  border: 4px solid rgb(83, 81, 81);
  border-radius: 2em;
  box-shadow: 0 8px 16px rgb(127, 126, 126), 0 16px 32px rgb(68, 68, 68);
  font-size: 1.1rem;
  padding: 2em;
  color: #f8f6f0;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  line-height: 1.7;
  text-align: center;
}

.content-wrapper p {
  margin: 1em 0;
}

.profiles {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 2em 0;
}

.profile {
  border: 2px solid white;
  border-radius: 0.5em;
  padding: 1em;
  text-align: center;
}

.profile img {
  aspect-ratio: 1;
  border-radius: 50%;
  margin: 0;
  object-fit: cover;
  object-position: center top;
  width: 200px;
}

.profile a {
  margin-top: auto;
}
