* {
  font-family: "Staatliches", sans-serif;
}

body {
  background: linear-gradient(-45deg, #000000, #0c0d0d, #212222, #212325);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.vinyl-animation {
  display: flex;
  justify-content: center;
}

.song-recommendation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

button {
  margin: 20px;
  font-size: 1.5rem;
  background-color: black;
  width: 200px;
  cursor: pointer;
  border: 0;
  padding: 10px;
  display: inline-block;
  position: relative;
  color: #797b7c;
  text-decoration: none;
}

button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

img {
  height: 200px;
  width: 200px;
}
