* {
  box-sizing: border-box;
  font-family: "Staatliches", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(-45deg, #000000, #0c0d0d, #212222, #212325);
  background-size: 600% 600%;
  animation: gradient 10s ease infinite;
  margin: 0;
  padding: 0;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.results {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.user-history {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 85vh;

  background: linear-gradient(
    45deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.vinyl-animation {
  display: flex;
  justify-content: center;
}

.vinyl-animation img {
  height: 200px;
  width: 200px;
  position: relative;
  left: 40px;
  z-index: 1;
}

.vinyl {
  position: relative;
  right: 40px;
  animation: spin 4s 0.51s linear infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: linear-gradient(-45deg, #333, black, #555, black, #333);
}

.vinyl::before {
  content: "";
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 180px;
  height: 180px;
  background: repeating-radial-gradient(
    black,
    black 5px,
    #1c1c1c 6px,
    #1c1c1c 7px
  );
  border-radius: 50%;
}

.inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 55px;
  height: 55px;
  background: linear-gradient(white, white 50%, grey 50%, grey);
  border-radius: 50%;
}

.inner::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
}

.inner::after {
  content: "Artist";
  width: 55px;
  text-align: center;
  font-family: "Staatliches", sans-serif;
  font-size: 5px;
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.song-recommendation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.song-recommendation p {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin: 4rem auto;
}

.song-recommendation iframe {
  margin: 2rem auto;
}

.user-options {
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

button {
  display: inline-block;
  position: relative;
  margin: 1rem;
  width: 200px;
  border: 0;
  padding: 10px;
  background-color: rgb(62, 62, 62);
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}

button:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

button:disabled {
  opacity: 0.5;
}

.user-history img {
  width: 200px;
  height: 200px;
}

.user-history ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  list-style-type: none;
  padding: 0;
  margin: 0 5%;
}

.user-history li {
  text-align: center;
  justify-content: space-evenly;
}

.user-history p {
  max-width: 200px;
}

.user-history h2 {
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-top: 200px;
  margin-bottom: 50px;
}
